.content {
  margin: auto 0;
}

.content__title {
  height: 116px;
  margin: auto 0;
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  color: #ffffff;
  padding-left: 143px;
}
.content__description {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
  margin: auto 0;
  padding-top: 75px;
  padding-left: 143px;
  width: 630px;
}
.content__quote {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
  display: flex;
  justify-content: right;
}
.content__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  color: #ffffff;
  margin: auto 0;
  width: 630px;
  padding-left: 143px;
}
.content__gallery {
  max-width: 1184px;
  margin: 120px 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.content__gallery-item {
  width: 284px;
  height: 213px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: auto 0px auto 60px;
    padding-top: 62px;
    padding: 10px;
    max-width: 720px;
  }
  .content__title {
    height: 98px;
    font-family: "Inter";
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: center;
    margin: auto 0;
    max-width: 707px;
  }
  .content__description {
    height: 68px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #ffffff;
    margin: auto;
    max-width: 720px;
  }
  .content__quote {
    margin-left: 262px;
  }
  .content__text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #ffffff;
    margin: auto;
    padding-top: 97px;
    max-width: 720px;
  }
  .content__gallery {
    max-width: 720px;
    margin: 10px 1px auto 109px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }
  .content__gallery-item {
    width: 235px;
    height: 188px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: auto;
    max-width: 720px;
  }

  .content__title {
    height: 140px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    max-width: 544px;
  }
  .content__description {
    height: 68px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    padding-top: 13px;
    margin: auto;
    max-width: 544px;
  }
  .content__quote {
    padding-right: 20px;
    font-size: 24px;
    line-height: 34px;
  }
  .content__text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #ffffff;
    margin: auto 0;
    max-width: 544px;
    padding-top: 163px;
  }
  .content__gallery {
    max-width: 768px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
  .content__gallery-item {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .content {
  }

  .content__title {
    height: 140px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    margin: auto 36px auto 0px;
    max-width: 320px;
  }
  .content__description {
    height: 68px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    padding-top: 13px;
    margin: auto 1px auto -1px;
    max-width: 320px;
  }
  .content__quote {
    margin-left: 5px;
    font-size: 24px;
    line-height: 34px;
  }
  .content__text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #ffffff;
    margin: 10px 6px;
    padding-top: 183px;
    max-width: 288px;
  }
  .content__gallery {
    margin: auto 48px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
  }
  .content__gallery-item {
    width: 100%;
  }
}
