.header {
  width: 984px;
  height: 983px;
  margin: auto;
}
.header__logo {
  height: 70px;
  margin: auto;
  padding-top: 34px;
  display: flex;
  justify-content: center;
}

.header__title {
  width: 720px;
  height: 200px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: Center;
  color: #ffffff;
  margin: auto;
  padding-top: 94px;
}

.header__subtitle {
  color: #ffffff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  width: 630px;
  margin-left: 170px;
}
.header__img {
  margin: auto;
  display: block;
  width: 100%;
}
.content__text {
  font-family: "Inter";
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: auto;
  }
  .header__title {
    font-size: 45px;
  }
  .header__subtitle {
    font: size 24px;
  }
  .header__logo {
    margin: auto;
  }

  .header__img {
    display: block;
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .header {
    margin: auto;
    height: 100vh;
  }
  .header__title {
    font-size: 32px;
  }
  .header__subtitle {
    font: size 24px;
  }
  .header__logo {
    margin: auto;
  }

  .header__img {
    width: 100%;
    margin: auto;
  }
}
