.header {
  margin: auto;
  padding: 0 16px;
  max-width: 984px;
}
.header__content {
  margin: auto 0;
}
.header__logo {
  margin: auto;
  padding-top: 34px;
  display: flex;
  justify-content: center;
}

.header__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: Center;
  color: #ffffff;
  margin: auto;
  padding-top: 94px;
  max-width: 720px;
}

.header__subtitle {
  color: #ffffff;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: auto;
  max-width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
}
.header__img {
  margin: auto;
  width: 100%;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .header {
    margin: auto;
  }
  .header__content {
    margin: 1px -16px 1px -16px;
  }
  .header__title {
    font-size: 75px;
    font-family: "Inter";
    line-height: 79px;
    font-weight: 900;
  }
  .header__subtitle {
    font-size: 24px;
    font-family: "Inter";
  }
  .header__logo {
    margin: auto;
  }
  .header__img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: auto;
  }
  .header__content {
    margin: auto;
  }
  .header__title {
    font-family: "Inter";
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
    text-align: center;
    padding-top: 32px;
  }
  .header__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    font-family: "Inter";
    padding: 10px;
  }
  .header__logo {
    margin: auto;
  }
  .header__img {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .header {
    margin: auto;
  }
  .header__content {
    margin: 1px -16px 1px -16px;
  }
  .header__img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: auto;
  }
  .header__content {
    margin: auto;
  }
  .header__title {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    width: 275px;
    padding-top: 32px;
    margin: auto;
  }
  .header__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-family: "Inter";
    width: 288px;
    padding-bottom: 25px;
    padding-top: 10px;
    margin: auto 93px;
  }
  .header__logo {
    display: flex;
    justify-content: flex-start;
    margin: auto 1px auto 114px;
  }
  .header__img {
    width: 106%;
    margin: auto 0 auto -25px;
  }
}
