.header {
  max-width: 800px;
  margin: auto 200px;
}

.header__logo {
  margin: 45px auto 40px 7px;
}
.header__line {
  width: 100%;
  margin: auto;
}
.header__content {
  margin: auto 1px auto 7px;
}

.header__image {
  margin: auto;
}
.header__title {
  color: #ffffff;
  margin-left: 17px;
  display: flex;
  justify-content: space-evenly;
}
.header__subtitle {
  color: #ffffff;
  margin-left: 22px;
  margin-top: -25px;
}

.header__text {
  margin: -114px -33px 64px 112px;
}
.header__icon-edit {
  margin: auto 6px auto 10px;
}
.header__icon-add {
  margin: auto -42px auto 276px;
}
.header__icon-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    margin: auto 92px;
  }
  .header__title {
    color: #ffffff;
    margin-left: 17px;
    display: flex;
    justify-content: space-evenly;
  }
  .header__icon-add {
  }
  .header__icon-mobile {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: auto 200px;
  }
  .header__line {
    max-width: 320px;
    margin: 0px auto 42px auto;
  }

  .header__text {
    margin: 1px 1px 63px -2px;
  }
  .header__title {
    width: max-content;
  }
  .header__subtitle {
    margin-top: -10px;
    margin-left: 104px;
  }
  .header__content {
    margin: auto;
    width: 100%;
  }
  .header__icon-add {
    display: none;
  }
  .header__icon-mobile {
    display: block;
  }
}
