.page {
  min-width: 1024px;
  background-color: black;
  height: 1883px;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 100%;
    background-color: black;
    height: auto;
    margin: auto;
  }
}

@media screen and (max-width: 544px) {
  .page {
    width: 100%;
    background-color: black;
    height: auto;
    margin: auto;
  }
}
